DEPLOY_KEY="-----BEGIN OPENSSH PRIVATE KEY-----\nXXX\n-----END OPENSSH PRIVATE KEY-----"
DEPLOY_TARGET_PATH=/home/deploy/apps/deploy
DEPLOY_HOST_PATH=./example
DEPLOY_USER=deploy
DEPLOY_HOST=example.com
